*{
    margin: 0;
    padding:0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    background-color: lightblue;
}
.logo{
    font-size: 40px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
.logo::first-letter{
    font-size: 50px;
    border: 2px solid black;
    border-right: transparent;
    padding-left: 5px;
    color:darkblue;
}
.sidebar{
    height: 0vh;
   width: 100%;
   background: white;
   
}

.sidebar nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
    font-size: 30px;
}

.sidebar nav li a{
    color:black;
    position: relative;
    padding: 5px 0;
    font-weight: bold;
}
nav ul li a:hover{
    color:darkblue;
}
/*nav ul li a::after{
    content: "";
    bottom:0;
    left:0;
    width:0;
    position: absolute;
    height: 3px;
    background: pink;
    transition: .3s;*/

nav ul li a :hover::after{
    width:100px;
}
/*.main{
    
    width: 100%;
    height: 10px;
    /*padding-top: 100px;*/



.devinfo{
    background-color: burlywood;
    text-align: center;
    padding: 20px;
    margin-top: 30%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hello{
    font-size: 55px;
}
.name{
    font-size: 50px;
    font-weight: bold;
}
.about{
    font-size:40px;
}
.moreabout{
    font-size:22px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.buttons{
    margin-top: 34px;
    margin-left: 70px;
}
.buttons button{
    padding-left: 110px;
         padding:  9px 14px;
         border-radius: 22px;
         color: white;
         background-color: black;
         font-weight: bold;
         font-size: 21px;
         margin: 3px;
         cursor:pointer;
}
.buttons button:hover{
    color: black;
    background-color: white;
}
.devpic img{
    margin-bottom: 40px;
    height: 58vh;
}
.fa-brands{
    width:15px;
}
.home__social{
    font-size: 20px;
}
@media only screen and (max-width: 872px) {
    .sidebar {
        height: 15vh;
        width: 500px;
        background: white;
    }
   .devinfo{
      text-align:center;
      margin-top: 10px;
      width: 500px;
      background-color: rgb(253, 246, 212);
   }
   .devpic{
      padding-top: 0%;
      padding-right: 0px;
      transition: 3s;
      text-align: center;
      height:35px;
      width:25px
     
   }
   .sidebar nav ul li{
      display: inline-block;
      list-style: none;
      padding: 8px 10px;
      font-size: 10px;
    }
   .remove{
       width: 100%;
       height: 5vh;
       display:none;
    }
  
    nav{
      width:500px;
      display: flex ;
      justify-content: space-between;
      align-items: center;
      padding: 40px 200px;
      background-color: lightblue;
    }
}
